* {
}

a {
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  text-decoration: underline;
  letter-spacing: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  border-bottom: 1px solid #afa6a6;
}

.desktop-nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.nav-link {
  color: rgb(19, 82, 82);
  font-weight: 700;
}
.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
}
.left {
  line-height: 1.7;
}
.profile_img {
  border-radius: 50%;
}
.btn-group {
  display: flex;
  gap: 30px;
}
.btn {
  border-radius: 16px;
  padding: 5px 30px;
  color: #fff;
  border: none;
  transition: 0.3s;
}
.btn:hover {
  cursor: pointer;
  background: rgb(194, 221, 143);
  color: black;
  transform: scale(1.2);
}
.btn-primary {
  background: #4c9fe3;
}
.btn-secondary {
  background: #316a99;
}
.container {
  padding: 50px;
}
.blog-card-group {
  display: flex;
  gap: 20px;
}

.blog-card {
  border: 1px solid gray;
  box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.05);
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-1 {
  background-image: url("/assets/background-1.jfif");
}
.bg-2 {
  background-image: url("/assets/background-2.jfif");
}
.bg-3 {
  background-image: url("/assets/background-3.jfif");
  color: #fff;
}
.blog-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.1);
}
.card-header {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  width: 30%;
}
.img-wrapper {
  display: inline-block; /* change the default display type to inline-block */
  overflow: hidden;
}
.card-header-img:hover {
  transform: scale(1.5);
  cursor: zoom-in;
}
.card-content-text::first-letter {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}
.like-icon {
  transition: 0.3s;
}
.like-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}
